<app-age-alert-list
  [ageAlerts]="ageAlerts"
  [selectedAgeAlertIds]="selectedAgeAlertIds"
  [employees]="employees"
  (alertSelectionChange)="ageAlertSelectionChange.emit($event)"
  (selectAllChange)="ageSelectAllChange.emit($event)"
  (deleteSelected)="ageDeleteSelected.emit()">
</app-age-alert-list>

<app-qualification-change-alert-list
  [qualificationChangeAlerts]="qualificationChangeAlerts"
  [selectedQualificationChangeAlertIds]="selectedQualificationChangeAlertIds"
  (alertSelectionChange)="qualificationChangeAlertSelectionChange.emit($event)"
  (selectAllChange)="qualificationChangeSelectAllChange.emit($event)"
  (deleteSelected)="qualificationChangeDeleteSelected.emit()">
</app-qualification-change-alert-list>



