<nav *ngIf="isAuthenticated" class="navbar">
  <div class="nav-container">
    <a routerLink="/alerts" routerLinkActive="active">
      アラート
    </a>
    <a
      routerLink="/employees"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      従業員
    </a>
    <a routerLink="/salary-bonus" routerLinkActive="active"> 給与・賞与 </a>
    <a routerLink="/insurance-result" routerLinkActive="active"> 保険料 </a>
    <a routerLink="/insurance-payment-summary" routerLinkActive="active">
      集計
    </a>
    <a routerLink="/settings" routerLinkActive="active"> 設定・マスタ </a>
    <button class="logout-button" (click)="onLogout()">ログアウト</button>
  </div>
</nav>
