<nav>
  <a routerLink="/employees" routerLinkActive="router-link-active"
    >従業員一覧</a
  >
  <a routerLink="/settings" routerLinkActive="router-link-active">設定</a>
  <a routerLink="/monthly-salaries" routerLinkActive="router-link-active"
    >月次給与・報酬入力</a
  >
  <a routerLink="/bonus" routerLinkActive="router-link-active">賞与入力</a>
  <a routerLink="/insurance-result" routerLinkActive="router-link-active">年間結果</a>
  <a routerLink="/insurance-payment-summary" routerLinkActive="router-link-active">振込一覧</a>
</nav>

<router-outlet />
